#banner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 100%;
  height: 300px;
  background-image: url('../imagens/bannerBarbearia.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.mapa{
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.chamada {
  
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 225px;
  text-align: center;
  font-size: 30px;
}

.chamada button {
 height: 3em;
 width: 20em;
 border: none;
 border-radius: 10em;
 background: white;
 font-size: 17px;
 color: #4B5320;
 font-family: inherit;
 font-weight: 500;
}

.chamada button:not(:hover) {
 animation: shake3856 0.8s linear infinite both;
}

.mapa p{
  font-size: 30px;
  margin: 0px;
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: fixed;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
  padding: 0px;


  top: 50%;                     /* 2. Posiciona o topo do botão no meio da altura da tela */
  right: 8px;                  /* 3. Define uma distância de 30px da borda direita */
  transform: translateY(-50%);  /* 4. Ajusta a posição, subindo o botão pela metade de sua altura */
  z-index: 1000;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(-35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
 }

 40% {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
 }

 60% {
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
 }

 80% {
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}


body{
  background-color: #4B5320;
  color: white;
}

button:hover{
  cursor: pointer;
}

