#banner {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 100%;
  height: 300px;
  background-image: url('../imagens/bannerBarbearia.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.mapa{
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.chamada {
  
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 225px;
  text-align: center;
  font-size: 30px;
}

.chamada button {
 height: 3em;
 width: 20em;
 border: none;
 border-radius: 10em;
 background: white;
 font-size: 17px;
 color: #4B5320;
 font-family: inherit;
 font-weight: 500;
}

.chamada button:not(:hover) {
 animation: shake3856 0.8s linear infinite both;
}

.mapa p{
  font-size: 30px;
  margin: 0px;
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
 }

 40% {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
 }

 60% {
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
 }

 80% {
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}


body{
  background-color: #4B5320;
  color: white;
}

button:hover{
  cursor: pointer;
}

